<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parts</title>
</head>
<body>
<h1>Обери машину на яку шукаєш запчастини</h1>

<nobr th:text="${currentQuery.getBrand()}">VALUE</nobr>
<a href = "/select">Обрати марку</a> </br></br>

<nobr th:text="${currentQuery.getModel()}">VALUE</nobr>
 </br></br>

<nobr th:text="${currentQuery.getMotorType()}">VALUE</nobr>
 </br></br>


<form action="#" th:action="@{/select/category}" th:object="${carDTO}"  method="get">
<select th:field="*{bodyType}" class="form-control" id="dropDownListBody" onchange="this.form.submit()">
    <option value="0">Тип кузова</option>
    <option th:each="option : ${options}" th:value="${option.getBodyType()}" th:text="${option.getBodyType()}"></option>
</select>

</form>
</body>
</html>