<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parts</title>
</head>
<body>

<h1>Choose your car and parts category</h1>
<p th:text="${currentQuery.getBrand()}">VALUE</p>
<p th:text="${currentQuery.getModel()}">VALUE</p>
<p th:text="${currentQuery.getMotorType()}">VALUE</p>
<p th:text="${currentQuery.getBodyType()}">VALUE</p>

<form action="#" th:action="@{/select/category}" th:object="${carDTO}"  method="get">
    <select th:field="*{modification}" class="form-control" id="dropDownListModification" onchange="this.form.submit()">
        <option value="0">select option</option>
        <option th:each="option : ${options}" th:value="${option.getModification()}" th:text="${option.getModification()}"></option>
    </select>

</body>
</html>