<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parts</title>
</head>
<body>
<h1>Обери машину на яку шукаєш запчастини</h1>

<nobr th:text="${car.getBrand()}">VALUE</nobr>

<a href = "/select">Обрати марку</a> </br></br>

<form action="#" th:action="@{/select/engine}" th:object="${car}"  method="get">
    <select th:field="*{model}" class="form-control" id="dropDownListModels" onchange="this.form.submit()">
        <option value="0">Модель машини</option>
        <option th:each="option : ${options}" th:value="${option.getModel()}" th:text="${option.getModel()}"></option>
    </select>

</form>
</body>
</html>