<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose car</title>
</head>
<body>
<h1>Щось</h1>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Choose car</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Каталог запчастин</h1>-->

<!--<nobr th:text="${currentQuery.getBrand()}">VALUE</nobr>-->
<!--<a href = "/select">Обрати марку</a> </br></br>-->

<!--<nobr th:text="${currentQuery.getModel()}">VALUE</nobr>-->
<!--</br></br>-->

<!--<nobr th:text="${currentQuery.getMotorType()}">VALUE</nobr>-->
<!--</br></br>-->

<!--<nobr th:text="${currentQuery.getBodyType()}">VALUE</nobr>-->
<!--</br></br>-->

<!--<p>Мої вітаннячка! Бачу в тебе нехуйова тачка</p>-->

<!--<p>Ось які запчастини на неї в нас є </p>-->

<!--<div th:each="part : ${parts}">-->
<!--    <p th:text="${part.getName()}">VALUE</p>-->
<!--    <img th:src="${part.getImageURL()}">-->

<!--</div>-->
<!--</body>-->
<!--</html>-->