<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose car</title>
</head>
<body>
<h1>Каталог запчастин</h1>
<nobr th:text="${part.getName()}">VALUE</nobr>
 </br></br>
<nobr th:text="${part.getPartNumber()}">VALUE</nobr>
</br></br>
<nobr th:text="${part.getDescription()}">VALUE</nobr>
</br></br>
<nobr th:text="${part.getPrice()}">VALUE</nobr>
</br></br>
    <img th:src="${part.getImageURL()}">
</div>
</body>
</html>

<form action="#" th:action="@{/select/model}" th:object="${car}"  method="get">
    <select th:field="*{brand}" class="form-control" id="dropDownListBrands" onchange="this.form.submit()">
        <option value="0">Марка машини</option>
        <option th:each="option : ${options}" th:value="${option.getBrand()}" th:text="${option.getBrand()}"></option>
    </select>
</form>