@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


*{
    margin: 0;
    padding: 0;
}
#main {
    background-image: linear-gradient(#333544, #24252f);

    padding: 1%;
    padding-left: 10%;
    margin: 0%;
    height: 100vh;

}
body{
    display: grid;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Play', sans-serif;
    font-weight: lighter;
}
#topcover{

   background-color: #282A35;
    height: 7vh;
    padding-left: 10vw;
    padding-top: 20px


}
.block1{
    background-color: #282A35;
    height: 25vh;
    width: 20vw;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}